<div class="payment">
  <div class="row m-0 p-3">
    <div class="col-md-8 ps-0 pe-2">
      <div class="rounded shadow bg-white p-4">
        <label> Payment Selection </label>
        <div class="mt-3 border rounded p-3">
          <div class="col-md-9">
            <div class="row align-items-end">
              <div class="col-md-6">
                <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.5 18.0004C14.4706 18.0004 18.5 13.9709 18.5 9.00037C18.5 4.0298 14.4706 0.000366211 9.5 0.000366211C4.52944 0.000366211 0.5 4.0298 0.5 9.00037C0.5 13.9709 4.52944 18.0004 9.5 18.0004Z" fill="white"/>
                <path d="M9.5 17.0004C13.9183 17.0004 17.5 13.4186 17.5 9.00037C17.5 4.58209 13.9183 1.00037 9.5 1.00037C5.08172 1.00037 1.5 4.58209 1.5 9.00037C1.5 13.4186 5.08172 17.0004 9.5 17.0004Z" stroke="#848484" stroke-width="2" stroke-miterlimit="10"/>
                <path d="M9.5 13.0004C11.7091 13.0004 13.5 11.2095 13.5 9.00037C13.5 6.79123 11.7091 5.00037 9.5 5.00037C7.29086 5.00037 5.5 6.79123 5.5 9.00037C5.5 11.2095 7.29086 13.0004 9.5 13.0004Z" fill="#848484"/>
                </svg>
                <span class="ms-2"> Credit Card  </span>
              </div>
              <div class="col-md-6 text-end">
                <img src="<%= image_path('cards.png') %>" class="w-50">
              </div>
            </div>
          </div>
          <p class="mt-2 ps-4"> Safe money transfer using your bank account. Visa, Maestro, Discover, American Express.</p>

          <div class="mt-5 col-md-9">
            <span class="mt-5 card-item"> CARD NUMBER </span>
            <input type="text" placeholder="0000 0000 0000 0000" class="mt-4 form-control">

            <div class="row mt-3">
              <div class="col-md-6 card-item">NAME ON CARD</div>
              <div class="col-md-3 card-item">EXPIRY DATE</div>
              <div class="col-md-3 card-item">CVV CODE</div>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <input type="text" class="form-control">
              </div>
              <div class="col-md-3">
                <input type="text" placeholder="MM / YY" class="form-control">
              </div>
              <div class="col-md-3">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>

        <div class="mt-3 border rounded p-3">
          <div class="col-md-6"> 
            <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.5 19.0005C14.4706 19.0005 18.5 14.9711 18.5 10.0005C18.5 5.02993 14.4706 1.00049 9.5 1.00049C4.52944 1.00049 0.5 5.02993 0.5 10.0005C0.5 14.9711 4.52944 19.0005 9.5 19.0005Z" fill="white" stroke="#D4D9DD" stroke-miterlimit="10"/>
            </svg>
            <span class="ms-2"> Crypto  </span>
          </div>
          <p class="mt-2 ps-3"> You will be redirected to the Fiat website to complete your purchase securely.</p>
        </div>


        <div class="row actions pt-4 mt-5">
          <div class="col-md-8">
            <button class="btn btn-md bg-white text-start"> 
              <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 6.50085H14" stroke="#788995" stroke-miterlimit="10" stroke-linecap="square"/>
              <path d="M1 6.50086L6.523 0.977859" stroke="#788995" stroke-miterlimit="10" stroke-linecap="square"/>
              <path d="M1 6.50085L6.523 12.0239" stroke="#788995" stroke-miterlimit="10" stroke-linecap="square"/>
              </svg>
            <span class="back-title"> Back to Customer Info </span>
          </button>
          </div>
          <div class="col-md-4 text-end">
            <button class="btn btn-md bg-purple text-white"> Complete Order </button>
          </div>
        </div>
      </div>
    </div>

    <div class="cart col-md-4 ps-2 pe-0">
      <div class="rounded shadow p-4 bg-white h-100">
        <div class="row mb-3">
          <span> Cart </span> 
        </div>
        <hr>

        <div class="row align-items-center">
          <div class="col-md-3">
            <img src="<%= image_path('btc.png') %>" class="w-100">
          </div>
          <div class="col-md-9 text">
            <span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae vel odio egestas.<span><br>
            <span> € 99.90</span>
          </div>
        </div>

        <div class="row mt-4 align-items-center">
          <div class="col-md-3">
            <img src="<%= image_path('eth.png') %>" class="w-100">
          </div>
          <div class="col-md-9 text">
            <span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae vel odio egestas.<span><br>
            <span> € 99.90</span>
          </div>
        </div>
        <hr>

        <div class="row mt-3">
          <div class="col-md-6"> Have a Voucher?</div>
          <div class="col-md-6 text-end">
            <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.74995 6.98467L12.2729 1.46167" stroke="#1B2125" stroke-miterlimit="10" stroke-linecap="square"/>
            <path d="M6.75 6.98467L1.227 1.46167" stroke="#1B2125" stroke-miterlimit="10" stroke-linecap="square"/>
            </svg> 
          </div>
        </div>
        <hr>

        <div class="row mt-3 item">
          <div class="col-md-6">Subtotal</div>
          <div class="col-md-6 text-end"> € 169.80 </div>
        </div>

        <div class="row mt-3 item">
          <div class="col-md-6">Shipping</div>
          <div class="col-md-6 text-end"> Free </div>
        </div>
        <hr>

        <div class="row mt-4">
          <div class="col-md-6">Total</div>
          <div class="col-md-6 text-end"> € 169.80 </div>
        </div>       
      </div>
    </div>
  </div>
</div>