body {
  background: #F1F5F8;
}

.btn {
  font-size: 15px;
  line-height: 23px;
  font-family: 'Poppins';
}

.dashboard {
  .title {
    font-family: 'IBM Plex Sans Condensed';
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
  }

  .f-rubik {
    font-family: 'Rubik';
  }

  .balance {
    .title {
      color: #5D69E9;
      font-size: 13px;
    }
    .amount {
      font-family: 'Rubik';
      font-size: 24px;
    }
  }

  .rate {
    .pair {
      font-size: 13px;
      line-height: 17px;
    }

    .price {
      font-family: 'Rubik';
      font-size: 24px;
      line-height: 29px;
      color: #131031;
    }

    .volume {
      font-family: 'Verdana';
      font-size: 9px;
    }
  }
}

.profile {
  .title {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
  }
}

.support {
  .title {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
  }
}

.transactions {
  .title {
    font-family: 'Poppins';
    font-size: 17px;
    line-height: 22px;
  }

  .hash {
    font-size: 14px;
    line-height: 21px;
    color: #FFCC6A;
  }

  .date {
    font-size: 12px;
    line-height: 18px;
    color: #451089;
  }

  .pagination {
    color: #9FA2B4;
  }

  .filter-btn, .sort-btn {
    padding: 0;
  }
}

.payment {

  .back-title {
    color: #788995;
  }

  .card-item {
    font-size: 12px;
    line-height: 18px;
    color: #788995;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    color: #788995;
  }

  .cart {
    .item {
      font-size: 14px;
      line-height: 21px;
      color: #788995;
    }

    .text {
      font-family: 'Poppins';
      font-size: 16px;
      line-height: 24px;
      color: #788995;
    }
  }
}
