.sign_up, .sign_in, .recover {
  background: radial-gradient(42.64% 88.43% at 10.88% 18.94%, #854FCA 0%, #451089 100%);
  height: 100%;

  .form {
    @media only screen and (max-width: 575px) {
      padding: 15px !important;
    }
  }

  #error_explanation ul {
    list-style-type: none;
    padding-left: 0;

    li {
      color: red;
    }
  }

  h1 {
    color: #451089;
  }

  a {
    color: #C111A0;
  }

  .form-check-input:checked {
    background-color: #451089;
    border: #451089;
  }

  .text-purple {
    color: #31297E;
  }


  .form-check-input[type=checkbox] {
    border-radius: 0.1em;
  }

  .field_with_errors { display: inline; }
}
.sign_up, .sign_in {
  .form {
    position: relative;
    top: 15%;
  }
}

.sign_up {
  .bg {
    background-image: url('../../assets/images/signup_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.sign_in {
  .bg {
    background-image: url('../../assets/images/signin_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.recover {
  .form {
    position: absolute;
    left: 30%;
    top: 33%;
  }

  .bg {
    background-image: url('../../assets/images/recover_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
}