.menu {
  font-size: 15px;
  ul {
    list-style-type: none;

    li {
      display: block;
      padding: 10px 0px 10px 10px;
      border-radius: 5px;
    }

    li:hover {
      background-color: white;
      a {
        color: #451089;
      }
    }
  }

  a {
    color: #6A5C7B;
    text-decoration: none;
  }
}