<div class="bottom row m-0 mt-3">
  <div class="col-lg-3 col-xl-2">
  </div>
  <div class="col-lg-9 col-xl-10 p-3">
    <div class="p-3">
      <span> © 2021 </span> <span style="color: #31297E">Xponential.</span><span> All Rights Reserved. </span>
    </div>
  </div>
<div>
