<!-- Navbar -->
<nav class="top navbar navbar-light justify-content-between ps-3">
  <div class="col-md-2 col-5">
    <a class="navbar-brand" href="/">
      <img src='<%= image_path('brand.png') %>' class="w-100" >
    </a>
  </div>

  <div class="col-md-10 col-7">
    <div class="row px-3 m-0 align-items-center justify-content-end">
      <div class="col-md-6 col-9 text-end">
        <span class="text-purple fw-bold"> Andres Garza </span><br>
        <span class="text-black-50"> USER </span>
      </div>
      <div class="icon-box d-flex align-items-end justify-content-center">
        <img src='<%= image_path('icon.png') %>' class="icon" >
      </div>
    </div>
  </div>
</nav>
